registry=https://npm.ainirobot.com/repository/eve-group/
init.author.name=readonly
init.author.email=readonly@example.com
init.author.url=https://npm.ainirobot.com
email=readonly@example.com
always-auth=true
