registry = https://npm.ainirobot.com/repository/eve-group/
init.author.name=联系商务申请
init.author.email=联系商务申请
init.author.url = https://npm.ainirobot.com
init.author.password = 联系商务申请
# an email is required to publish npm packages
email=联系商务申请

